<!doctype html>
<html lang="en">
<head>
<% include common/head %>
</head>
<body class="bg-dark text-light">
  <% include common/menu %>
  <main class="container">

    <div class="row">


    <div class="col col-md-12">
          <div class="card bg-dark text-light shadow mb-4">
            <h5 class="card-header"><%= location.name %></h5>
            <div class="card-header">
               <ul class="nav nav-pills card-header-pills">

                 <li class="nav-item">
                   <a class="nav-link active" href="/location/<%= location.id %>">Browser</a>
                 </li>

                 <li class="nav-item">
                   <a class="nav-link" href="/location/<%= location.id %>/toolbox">Toolbox</a>
                 </li>

               </ul>
             </div>

            <div class="card-body">
              <p class="lead"><%= location.description %></p>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= location.name %> Membership</h5>
              <% if(location.member){ %>
                <div class="alert alert-info" role="alert">
                  You are a member of <%= location.name %>.
                </div>
                <form action="/location/leave" method="POST">
                  <input name="id" type="hidden" value="<%= location.id %>">
                  <button type="submit" class="btn btn-danger mb-3">Leave <%= location.name %></button>
                </form>
              <% } else { %>
                <form action="/location/join" method="POST">
                  <input name="id" type="hidden" value="<%= location.id %>">
                  <button type="submit" class="btn btn-primary mb-3">Join <%= location.name %></button>
                </form>
              <% } %>

              <form action="/location/create" method="POST">
                <input name="id" type="hidden" value="<%= location.id %>">
                <button type="submit" class="btn btn-primary mb-3">Create New</button>
              </form>

            </div>
            <% if(!location.root){ %>
              <div class="card-body">
                <button class="btn btn-primary mb-3" onclick="history.back()" type="button">Back</button>
              </div>
            <% } %>
            <div class="card-footer text-muted">
              <%= location.name %> contains <%= location.locations.length %> other location<%= location.locations.length==1?'':'s' %>.
            </div>
          </div>


          <!-- <div class="row row-cols-1 row-cols-md-2 g-4">
          <% location.locations.forEach(function(location){ %>
            <div class="col">
            <div class="card bg-dark text-light shadow mb-4">
              <h5 class="card-header text-info"><%= location.name %></h5>
              <div class="card-body">
                <p class="small"><%= location.description %></p>
              </div>
              <div class="card-body border-top border-secondary text-right">
                <a href="/location/<%= location.id %>" class="btn btn-secondary">Inspect <%= location.name %></a>
              </div>
            </div>
          </div>
          <% }); %>
          </div> -->

    </div>

    <!-- <div class="col col-md-3">
      <div class="card bg-dark text-light shadow mb-4">
        <h5 class="card-header text-info">Locations</h5>
        <ul class="list-group list-group-flush">
          <% location.locations.forEach(function(location){ %>
            <li class="list-group-item bg-dark"><a href="/location/<%= location.id %>" class=""><%= location.name %></a><small class="small d-block"><%= location.description %></small></li>
          <% }); %>
        </ul>
      </div>
    </div> -->




    </div>

    <div class="row">
      <div class="col offset-1 col-md-11">
      <div class="card bg-dark text-light shadow mb-4">
        <h5 class="card-header text-info">Things</h5>
        <ul class="list-group list-group-flush">
          <% location.things.forEach(function(thing){ %>
            <li class="list-group-item bg-dark">

              <div class="dropdown">
                <button id="dLabel" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  <%= thing.name %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <% thing.actions.forEach(function(action){ %>
                    <li><a class="dropdown-item" href="/location/<%= action.id %>"><%= action.name %></a></li>
                  <% }); %>
                </ul>
              </div>
              <small class="small d-block"><%= thing.description %></small>
              

            </li>
          <% }); %>
        </ul>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col offset-1 col-md-11">
      <div class="card bg-dark text-light shadow mb-4">
        <h5 class="card-header text-info">Locations</h5>
        <ul class="list-group list-group-flush">
          <% location.locations.forEach(function(location){ %>
            <li class="list-group-item bg-dark"><a href="/location/<%= location.id %>" class=""><%= location.name %></a><small class="small d-block"><%= location.description %></small></li>
          <% }); %>
        </ul>
      </div>
    </div>
    </div>



<!--
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-dark shadow">
        <li class="breadcrumb-item"><a href="/location" class="text-reset">Home</a></li>
        <% location.path.forEach(function(fragment){ %>
          <li class="breadcrumb-item"><a href="/location/<%= fragment.id %>" class="text-reset"><%= fragment.name %></a></li>
        <% }); %>
      </ol>
    </nav> -->



  </main><!-- /.container -->
  <% include common/foot %>
</body>
</html>
